*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.clearfix:after{
	content: "";
	display: block;
	clear: both;
	text-align: center;
}

.filter{
	width: 100%;
	z-index: 200;
	position:absolute; 
	top:0;
}
.top_visual{
	height:667px;
	/*background-image: url(../img/shouri.jpg);*/
	background-size: cover;
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: "Sawarabi Mincho";
}

#container{
	height: 667px;
}

.top_visual img{
	margin-top: 150px;
}


.top_logo{
	margin: 0 auto;
	width: 100%;
}

.content_top_haikei{
	font-family: "Sawarabi Mincho";
	text-align: center;
	font-size: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(../img/haikei1.jpg);
	background-size: cover;
	color: #555555;

}

.content_top span{
	font-size: 30px;
	color: #545A8E;
	font-weight:bold; 

}

.content_top1{
	margin-top: 40px;
}

.text4{
	margin-top: 70px;
}

.text4_2{
	margin-top: 70px;
}

.text5{
	margin-top: 55px;
}
.text6{
	margin-top: 55px;
}

.fa-caret-down{
	margin-top: 40px;
	font-size: 30px;
}



.content_midle{
	height:667px;
	width: 100%;
	background-image: url(../img/pexels-photo.jpg);
	background-size: cover;
}
.party_logo{
	width: 30%;
	margin:0 auto;
}

.party_logo img{
	width: 100%;
}

.detail{
	font-family: "Sawarabi Mincho";
	text-align: center;
	font-size: 20px;
	background-image: url(../img/haikei.jpeg);
	background-size: cover;
	color: white;
}

.text7{
	text-decoration: underline;
	padding-top: 100px;
	padding-bottom: 60px;
}

.fa-futbol-o{
    font-size: 60px;
    margin-bottom: 30px;
}

.text9{
	padding-top: 40px;
}

.fa-beer{
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.text11{
	padding-top: 40px;
}
.text12{
	width: 100%;
	height: 100px;
	text-align: center;
	margin: 0 auto;
}

.footer_gazou{
	width: 100%;
	background-color:#272427;
	color: #3c2387;
	border-top: 2px solid #d2a046;
	display: block;
}

.footer_gazou img{
	height: 40px;
	margin-top: 20px;
	margin-left: 20px;
}

/*.line-it-button{
	float:right;
	width: 100px;*/
	 
}

small{
	display: block;
	margin-left: 60px;
	padding-bottom: 20px;
}

@media (max-width:426px){
	.top_visual img{
		width: 100%;
		margin-top: 163px;
		padding-right: 22px;
		padding-left: 22px;
	}
	.top_visual p{
		font-size: 15px;
	}
	.content_top{
		font-size: 12px;
	}
	.party_logo{
		width: 100%;
	}
	.party_logo img{
		margin-top: 69px;
	}
	.detail{
		font-size: 16px;
	}
	.content_top span{
		font-size: 19px;
}